<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--&lt;!&ndash;<meta charset="UTF-8"/>&ndash;&gt;-->
    <title>Title</title>
    <!--<script src="/static/addInput.js" language="Javascript" type="text/javascript"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<a href="/invoices">  Все накладные</a>

<form action="/invoice/save" method="post">

<h1>Накладная № <span th:text="${invoice.id}"></span></h1>
    <input name="id" th:value="${invoice.id}" type="hidden"/>


<p >Входящий номер: <input name="incomingNumber" th:value="${invoice.incomingNumber}"/></p>
<p >Дата: <input type="datetime" name="dateTime" th:value="${invoice.dateTime}"/></p>

<p >Поставщик:
    <select th:field="${invoice.contractor.id}" >
    <option th:each="contractor : ${contractorList}" th:value="${contractor.id}" th:text="${contractor.name}"></option>
    </select>
</p>

    <p >Склад:
        <select th:field="${invoice.store.id}" >
            <option th:each="store : ${storeList}" th:value="${store.id}" th:text="${store.name}"></option>
        </select>
    </p>

    <p >Примечание: <input name="note" th:value="${invoice.note}"/></p>
    <p >Проведен: <input name="actual" type="checkbox" th:checked="${invoice.actual}"/></p>


    <input type="submit" value="Submit"/>
</form>

<table border="1" cellspacing="0" cellpadding="5">
    <tr>
        <td>№</td>
        <td>Наименование</td>
        <td>Цена</td>
        <td>Количество</td>
        <td>Ед.изм.</td>
        <td>Стоимость</td>
    </tr>
    <tr th:each="invoiceLine : ${invoice.invoiceLineList}">
        <td>+</td>
        <td th:text="${invoiceLine.stuff.name}"></td>
        <td th:text="${invoiceLine.price}"></td>
        <td th:text="${invoiceLine.quantity}"></td>
        <td th:text="${invoiceLine.stuff.unit.name}"></td>
        <td th:text="${invoiceLine.total}"></td>
    </tr>
</table>


<p >Всего: <span th:text="${invoice.total}"></span></p>

<form action="/invoice/addline" method="get">
    <input name="id" th:value="${invoice.id}" type="hidden"/>

    <p >Товар:
        <select>
            <option th:each="stuff : ${stuffList}" th:value="${stuff.id}" th:text="${stuff.name}"></option>
        </select>
    </p>

    <input type="submit" value="Submit"/>
</form>

</body>
</html>


